<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku="Version = v6.0"/>
	</startup>
	<connectionStrings>
		<add name="conStringRroni"
			 connectionString ="Data Source = MSI; Initial Catalog = GymDb; User ID =sa;Password=sa;"
			 providerName ="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>